
body{
    margin: 0;
}
.second,.third,.fourth,.fifth,.sixth,.seventh{
    width: 93%;
    margin: 0px auto ;
}
img{
    cursor: pointer;
}
/* FIRST */
.slider{
    margin: 2rem;
}

 .control-c {
    padding-right: 60px; 
    padding-left: 60px; 
    width: 50px;
    height: 50px; 
     z-index: 100;
  }
 
  .slider div > img{
      width: 90%;
      margin: auto;
      

  }

  /* SECOND */

.second_top {
    margin: 0px auto 20px;
}
.second_top img{
    width: 100%;
}

.second_bottom{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 30px;
}
.second_bottom p {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: -2px;
}

.second_bottom img{
    width: 100%;
    border-radius: 10px;
}

/* THIRD */
.third h2,h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .6px;
    word-spacing: 4px;
}
.third h2{
    margin-bottom: 5px;
}
.thirdImg img{
    width: 100%;
    margin-bottom: 10px;
}

/* FOURTH */
.fourth_main{
    display: grid;
    grid-template-columns: repeat(6,1fr);
 }
 .fourth_main img{
     width: 100%;
 }
 
/* FIFTH  */
.fifth_box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.fifth_box img{
    width: 100%;
}
/* SIXTH  */
.sixth{
    position: relative;
}
.sixth_1,.sixth_2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin-bottom: 20px;
}
.sixth_1 img,.sixth_2 img{
    width: 100%;
    
}
.sixth h3{
    text-align: center;
}
#sixth-2{
    display: none;
}
.carousel{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    
   
}
.carousel button{
    border-radius: 50px;
    
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
 button#carousel-button-prev {
    margin-left: 20px;
    
}
 button#carousel-button-next {
    margin-right: 20px;   
}

/* ANIMATION */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* SEVENTH */

.seventh img{
    width: 100%;
}
.seventh h2{
    margin: 10px;
}